* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;/*não deixa uma caixa alterar suas medidas quando utilizada padding dentro dela*/
}

main {
    padding-top: 7rem;
}

h1,h2,h3,h4,h5,h6 {
    font-family: 'Comic Neue', cursive;/*tipo de fonte*/
}

/*resolvendo o problema de medidas fixas como o px*/
:root {
    font-size: 62.5%;/*para converter o px em rem, apenas dividindo por 10. Ex:65px é igual a 6.5rem*/
}

h1 {
    color: blue;/*cor da fonte do texto*/
    background-color: aqua;/*cor de fundo*/
    font-size: 9.6rem;/*tamanho da fonte do texto*/
    font-weight: 900;/*espessura da fonte do texto*/
    text-decoration: line-through;/*cria um risco no titulo*/
}

.menu {
    position: fixed;/*fixa o elemento na tela*/
    background-color: steelblue;
    width: 100%;
    height: 7rem;
    z-index: 1;/*tem uma posição acima do que o display relative e absolut*/
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-content: center;
    gap: 1rem 5rem;
}

.menu a{
    text-decoration: none;
    font-size: 2.4rem;
    color: blue;
}

a {
    font-size: 2.4rem;
    color: blue;
}
/*altera o site visitado*/
a:visited {
    color: red;
}
/*altera o site quando o cursor passa por cima*/
a:hover {
    color: #555;
}

.bg {
    height: 50rem;/*haltura da div*/
    width: 100%;/*largura da div*/
    background-color: #555;
    background-image:url('https://images.unsplash.com/photo-1682695795798-1b31ea040caf?ixlib=rb-4.0.3&ixid=M3wxMjA3fDF8MHxlZGl0b3JpYWwtZmVlZHw0fHx8ZW58MHx8fHx8&auto=format&fit=crop&w=500&q=60');/*introduzindo uma imagem de fundo na div*/
    background-size: 100vw 100vh;/*tamanho da imagem*/
    background-repeat: no-repeat;/*faz a imagem repetir ou não*/
    background-attachment: fixed;/*fixa o background e movimenta o texto*/
}

p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.8rem;
    text-align: justify;
    text-indent: 9rem;
}

table, td, th {
    border: 0.1rem solid black;
}

table {
    font-size: 2.4rem;
    border-collapse: separate;/*criando bordas duplas na tabela*/
}

table tr:first-child {/*estilizando o primeiro elemento da tabela*/
    background-color: steelblue;
    color: #fff;
}

table tr:nth-child(2n + 3) {/*estilizando as linhas alternadamente, começando da terceira linha*/
    background-color: #aaa;
}

ul, ol {
    padding-left: 3.2rem;
}

ul {
    list-style: circle;/*estiliza os marcadores da lista não ordenada*/
}
ol {
    list-style: decimal-leading-zero;/*estiliza os marcadores da lista ordenada*/
}

li {
    font-size: 2.2rem;
}

h2 {
    font-size: 3.4rem;
}

.box {
    height: 10rem;
    width: 20rem;
    border: 1rem solid red;
    display: inline-block;/*coloca uma outra caixa ou imagem do lado da mesma, só encaixa se for inline*/
    border-radius: 4rem;
}

img {
    height: 10rem;
    width: 20rem;
    object-fit: cover;
}

.boxes {
    position: relative;
}

.box2 {
    height: 10rem;
    width: 20rem;
    margin: 1.5rem;
    padding: 1.5rem;
    background-color: blue;
    color: #fff;
    border: 1rem solid red;
    display: inline-block;
    position: static;/*por padrão, não deixa utilizar os elementos top, lefth e demais*/
}

.box2:nth-child(1) {
    position: absolute;/*fica por cima de todos os outros elementos*/
}

.contact-list h2 {
    top: 7rem;
    position: sticky;/*deixa fixo por um limite de posição*/
    background-color: limegreen;
}

.flexes {
    height: calc(100vh - 14rem);
    position: relative;
    display: flex;/*elemento para iniciar a utilização do flex box*/
    /*flex-wrap: wrap;*?/*elemento para quebra de linha, se necessario, no flex box*/
    /*flex-direction: row;*//*elemento para direciona entre linhas e colunas, e caso necessario reverse*/
    /*Utilizando o flex-flow voce consegue fazer um short ranger com o flex-direction e o flex-wrap no mesmo elemento*/
    flex-flow: row wrap;
    justify-content: center;/*centraliza os elementosmas no eixo principal, deixa eles utiizarem toda a tela*/
    /*align-items: center;*//*ajuda o justfy-content, centralizando os elementos no eixo secundário, deixando os elementos dispersos na tela, não deixa os elementos ocuparem toda a tela*/
    align-content: center;/*ajuda o justfy-content, centralizando os elementos no eixo secundário, deixando os elementos agrupados na tela, não deixa os elementos ocuparem toda a tela*/
    gap: 1rem 5rem;/*limita o espaçamento dos elementos mesmo que o flex box não de estes espaçamentos. Primeiro valor na vertical, segundo valor na horizontal*/ 

}

.flex_1 {
    min-height: 10rem;
    min-width: 20rem;
    padding: 1.5rem;
    border: 1rem solid red;
    border-radius: 0.4rem;
    background-color: blue;
    color: #fff;
    font-size: 4rem;
    display: inline-block;
    /*flex-basis: 30%;*//*serve para dar tamanhos fixos para distribuir por igual as div na tela*/
    order: 10;
    flex: 1;/*todos os elementos ficam com o mesmo pesso e eles crescem juntos conforme a tela cresce*/
}
/*o elemento order faz com que voce especifique em que posição deve vir uma determinada div*/
.flex_1:nth-child(1) {
    order: 1;
}

.flex_1:nth-child(2) {
    order: 2;
    flex: 10;/*o crescimento agora vai ser apenas do elemento 2*/
}

.flex_1:nth-child(7) {
    order: 3;
}

/*data-atributes*/
#companie-table [data-company="GCO"] {
    background-color: aqua;
}

#companie-table [data-company="CCL"] {
    background-color: royalblue;
}

#companie-table [data-company="CEC"] {
    background-color: rosybrown;
}

#companie-table [data-company="TT"] {
    background-color: magenta;
}

#companie-table [data-company="GMA"] {
    background-color: mediumspringgreen;
}

#companie-table [data-company="CCVG"] {
    background-color: mediumpurple;
}

#companie-table [data-company="CEI"] {
    background-color: yellow;
}

#companie-table [data-company="TDC"] {
    background-color: green;
}

/*view port com media query*/
/*tela grande*/
@media screen and (min-width: 1000px) {
    .bg {
        height: 70vh;
    }    
}

/*tela tablet*/
@media screen and (min-width: 768px) and (max-width:999px) {
    .bg {
        height: 30rem;
        background-size: 100vw 70vh;
    }    
}

/*tela celular*/
@media screen and (max-width:767px) {
    .bg {
        height: 20rem;
        background-size: 100vw 45vh;
    }    
}

@media print {/*evita que a imagem aparessa ao imprimir a tela*/
    .bg {
        display: none;
    }
}

.bt {
    background: steelblue;
    color: #fff;
    border: none;
    font-size: 2.8rem;
    padding: 0.6rem 2.4rem;
    cursor: pointer;
    text-decoration: none;
    width: 100%;
    transform: scale(.5) rotate(5deg);/*pode aumentar ou diminuir em escalas. Rotaciona o elemento*/
    transition: all .4s ease-in-out, background-color 1s ease-in-out, color 1s ease-in-out;
}

.bt2 {
    background: steelblue;
    color: #fff;
    border: none;
    font-size: 2.8rem;
    padding: 0.6rem 2.4rem;
    cursor: pointer;
    text-decoration: none;
    width: 100%;
    transform: scale(.5);
    transition: all .4s ease-in-out, background-color 1s ease-in-out, color 1s ease-in-out;
    animation: pulse 2s infinite;
    animation-direction: alternate;
}

.bt:hover {
    /*faz a animação no botão, junto com a transition*/
    transform: scale(1);
    background-color: aqua;
    color: #555;
}

@keyframes pulse {
    0% {
        transform: scale(0.8);
        opacity: 1;
    }
    50% {
        transform: scale(1);
        opacity: 6;
        background-color: aqua;
        color: #555;
    }
    100% {
        transform: scale(0.8);
        opacity: 1;
        background: steelblue;
        color: #fff;
    }
}